* {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}
ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.top { 
    padding:24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-item {
    margin-right: 26px;
}
.top-item:last-child {
    margin-right: 0px;
}
.top-menu {
    display: flex;
}
.top-link {
    color: #443737;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 24px;
}
.top-link:hover {
    border-bottom: 4px solid #FFC725;
}
.basket{
    display: flex;
    align-items: center;
     
}
.basket-text{
    color: #443737;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 700;
    margin-left: 5px;
}
.header-menu {
    background:url('../img/Group\ 3.png') ;
    padding: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text1 {
    color: #DEDEDE;
    text-align: center;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 400;
    padding-bottom: 8px;
}
.menushka {
    color: #FFF;
    font-size: 79px;
    font-family: Nunito Sans;
    font-weight: 700;
    text-align: center;
}
.text2 {
    color: #FAF9F9;
    text-align: center;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 160%;
    padding-top: 11px;
    
}
.banner{
    margin-top: 141px;
    margin-bottom: 100px;

}
.backkground-banner {background: url('../img/homemade-tasty-beef-burger-4BM65XU\ \(1\).png');
    background-repeat:no-repeat ;
    background-size: cover;
    padding: 100px 729px 100px 100px;
    display: flex;
   flex-direction: column;
   align-items: baseline;
   
}
.sale {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 129%; 
    padding: 5px 18.5px;
    border-radius: 14px;
    background: #F37335;
}
.sale-percent {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 60px;
    font-weight: 900;
    line-height: 127%;
   padding-bottom: 10px;
}
.sale-text {
    color: #FAF9F9;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 15px;
    max-width: 308px;
}
.sale-btn {
    padding: 20px 26px;
    border-radius: 5px;
    background: #FBB731;
    color: #1E2F40;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 129%;
    border: none;
    cursor: pointer;
}
.text-menu{
    font-size: 48px;
    color: #1E2F40;
}
.burger-title {
    color: #1B2A49;
    font-family: Nunito Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 127%;
    text-transform: uppercase;
}
.burger-name {
    color: #1B2A49;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 127%;
}
.burger-price {
    color: #979797;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 20px;
}
.burger-btn {
    border-radius: 5px;
    background: #FBB731;
    cursor: pointer;
    border: none;
    color: #1E2F40;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 129%;
    text-transform: uppercase;
}