.box{
    color: blue;
    background-color: aquamarine;
    margin-top: 280px;
    border-radius: 100%;
}
.b2{
    color: brown;
    background-color: black;
    padding-top: 340px;
    border-radius: 100%;
}